// ==========================================================================
//   Web safe font stacks
// ==========================================================================

// Sans-serif Fonts
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$impact: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;

// Serif Fonts
$baskerville: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$times-new-roman: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

// Monospaced Fonts
$rockwell: "Rockwell", monospace, sans-serif;
$courier-new: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$lucida-sans-typewriter: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;

$arvo: "Arvo", sans-serif;
