/* ==========================================================================
   Global footer class
   ========================================================================== */

footer {
	background: #121218;
	color: $white;
	position: relative;
	min-height: 400px;
	margin-top: -60px;
	z-index: -1;

	.footer-grass {
		position: absolute;
		top: -30px;
		left: 0;
		right: 0;
		height: 30px;
		background-image: url(../img/footer-grass.png);
		background-repeat: repeat-x;
	}
}
