/* ==========================================================================
   Global footer class
   ========================================================================== */

footer {
	background: #121218;
	color: $white;
	min-height: 400px;
	margin-top: -60px;
	position: relative;
	z-index: 0;

	.footer-grass {
		position: absolute;
		top: -30px;
		left: 0;
		right: 0;
		height: 30px;
		background-image: url(../img/footer-grass.png);
		background-repeat: repeat-x;
	}

	.row {
		margin-top: 50px;
	}

	.follow-me {
		font-size: 14px;
		font-weight: bold;
		color: #0b464c;
		margin-top: -2px;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
	}

	.emblem-container {
		width: 24px;
		height: 24px;
		margin: 2px;
		display: inline-block;
		opacity: 0.7;
		transition: opacity $reg-trans ease;

		&:hover {
			opacity: 1;
		}
	}

	.copyright {
		color: #0b464c;
		font-size: 11px;
		line-height: 1.4;
	}
}
