header {
	background: url(../img/background-top-tile.jpg) repeat-x;

	.logo {
		position: relative;
		max-width: 478px;
		display: block;
		margin-top: 50px;

		&:hover {
			.floating-elephant {
				@media (min-width: $screen-xs-min) {
					top: 40px;
				}
			}
		}

		.cloud {
			position: relative;
			z-index: 2;
		}

		.floating-elephant {
			width: 70px;
			height: 150px;
			position: absolute;
			top: initial;
			bottom: 46px;
			right: -11px;
			background-image: url(../img/floating-elephant.png);
			z-index: 1;
			transition: top 800ms ease;

			@media (min-width: $screen-xs-min) {
				top: 45px;
				bottom: initial;
			}

			@media (min-width: $screen-sm-min) {
				right: -50px;
			}
		}
	}
}
