/* ==========================================================================
   Navigation elements
   ========================================================================== */

nav {
	margin-top: -52px;

	ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;

		@media (min-width: $screen-sm-min) {
			justify-content: flex-end;
		}
	}

	li {
		margin-left: 5px;
	}

	a {
		background-color: $brand-primary;
		color: $white;
		padding: 5px 10px;
		display: inline-block;
		opacity: 0.7;
		text-align: center;
		transition: opacity $reg-trans ease;

		@media (min-width: $screen-sm-min) {
			width: 128px;
		}

		&:hover {
			opacity: 1;
			text-decoration: none;
		}

		strong,
		em {
			display: block;
		}

		strong {
			text-transform: uppercase;
			font-size: 16px;
			line-height: (21 / 16);
		}

		em {
			font-size: 13px;
		}
	}
}

// .open {
// 	overflow: hidden;
// 	position: relative;
// 	height: 100%;

// 	body {
// 		overflow: hidden;
// 		position: relative;
// 		height: 100%;
// 	}

// 	footer {
// 		overflow: hidden;
// 		z-index: -1;
// 	}
// }

// .disable-scrolling {
// 	overflow: hidden;
// 	position: relative;
// 	max-height: 100%;
// }
