/* ==========================================================================
   Themes
   ========================================================================== */

.feature-box,
.content-box {
	// width: 960px;
	// height: 310px;
	// margin-top: 50px;
	background: url(../img/noise.jpg) top left repeat #131c26;
	border: 5px #28394b solid;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 2px $black,
		inset 0 0 25px 5px #1a2735;
	padding: 20px;
	margin: 25px 0;
}

.feature-box {
	border-radius: 1em 4em 1em 1em;

	.feature-scroller {
		border-radius: 0.65em 3.6em 0 0;
		border: 1px solid $black;
		overflow: hidden;

		@media (min-width: $screen-sm-min) {
			width: 700px;
			border-radius: 0.65em 0 0 0.65em;
		}
	}

	.page-home & {
		padding: 0;

		@media (min-width: $screen-sm-min) {
			display: flex;
			flex-flow: row nowrap;
		}
	}
}

// todo: move this
// is also in swiper.scss...
.feature-info {
	background: url(../img/small-line.jpg) repeat top left #15323c;
	border-radius: 0 0 0.5em 0;
	border: 1px solid $black;
	padding: 8px 13px;
	box-shadow: inset 0 0 25px 5px #1a2735;

	@media (min-width: $screen-sm-min) {
		width: 244px;
		border-radius: 0 3.6em 0.5em 0;
	}
}

.feature-descriptions {
	overflow: hidden;
	height: 200px !important;

	@media (min-width: $screen-sm-min) {
		max-height: 260px;
	}
}
//

.content-box {
	border-radius: 1em;
}

.mosaic-block {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 100%;
	background: #111 url(../img/progress.gif) no-repeat center;
	border: #28394b solid 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

	.mosaic-overlay {
		opacity: 0;
		background: url(../img/bg-black.png);
		transition: opacity $reg-trans ease;
	}

	&:hover {
		.mosaic-overlay {
			opacity: 0.95;
		}
	}
}

.mosaic-backdrop {
	// display: none;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: #111;
}
