<footer class="container">
	<div class="container-narrow">
		<div class="row">
			<div class="col-sm-6 col-md-offset-1 col-md-5 pull-right-sm">
				<h3 class="h1">Have a project or&nbsp;idea&nbsp;to&nbsp;discuss?</h3>
				<a href="/contact.html" class="btn btn-primary-footer">
					Get in touch with us
				</a>
			</div>
			<div class="col-sm-6 col-md-offset-1 col-md-5">
				<a href="/" title="Bravo! Home" class="footer-logo">
					<svg width="495" height="216" viewBox="0 0 495 216" xmlns="http://www.w3.org/2000/svg">
						<title>Bravo! logo</title>
						<g fill-rule="nonzero" fill="#FFF">
							<path
								d="M405.542 37.274c-26.35 0-47.71 21.361-47.71 47.71 0 26.35 21.36 47.712 47.71 47.712s47.711-21.361 47.711-47.711a47.71 47.71 0 0 0-47.71-47.71zm0 71.566c-13.175 0-23.855-10.68-23.855-23.855s10.68-23.855 23.855-23.855 23.856 10.68 23.856 23.855a23.855 23.855 0 0 1-23.856 23.855zM230.354 46.354c-5.599-5.71-13.419-9.08-23.856-9.08-26.35 0-47.71 21.361-47.71 47.71 0 26.35 21.36 47.712 47.71 47.712 10.437 0 18.257-3.377 23.856-9.095v7.604h23.855v-92.44h-23.855v7.59zm-23.856 62.486c-13.174 0-23.855-10.68-23.855-23.855s10.68-23.855 23.855-23.855 23.856 10.68 23.856 23.855a23.855 23.855 0 0 1-23.856 23.855zM73.057 57.939A36.909 36.909 0 0 0 42.724 0H0v131.205h49.552c17.558-.003 33.105-11.344 38.468-28.062 5.364-16.719-.683-34.988-14.963-45.204zM23.855 23.855h18.869c6.962.333 12.437 6.076 12.437 13.046 0 6.971-5.475 12.713-12.437 13.046H23.855V23.855zm25.697 83.494H23.855V74.243h25.697a16.557 16.557 0 1 1 0 33.106z" />
							<ellipse cx="477.108" cy="114.789" rx="17.892" ry="17.892" />
							<path
								d="M465.181 0h23.855v84.97h-23.855zM333.23 38.75l-20.128 40.256-20.128-40.256H263.2l49.902 93.93 49.903-93.93zM126.732 46.503v-7.738h-23.855v92.44h23.855v-46.22a23.855 23.855 0 0 1 26.793-23.67l5.807-23.236c-12.547-2.84-23.654 1.059-32.6 8.424zM84.985 215.593v-42.56H0V155.18h102.877v19.777a109.944 109.944 0 0 1 62.493-19.777h323.666v17.854H165.84a92.238 92.238 0 0 0-65.528 27.33l-15.327 15.23z" />
						</g>
					</svg>
				</a>

				<address>52 Porter Street<br />Prahran, VIC 3181</address>
				<p class="mb0">-</p>

				<p>Call us on <a title="Call Bravo!" href="tel:(03)95213961">(03) 9521 3961</a><br />Email at <a
						title="Email Bravo!" href="mailto:hello@studiobravo.com.au">hello@studiobravo.com.au</a></p>

				<p class="copyright">
					© 2019 Bravo!
				</p>

				<ul class="social">
					<li>
						<a rel="noopener" href="https://www.facebook.com/studiobravo.au/" title="Bravo! Facebook"
							target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
								<title>Facebook icon</title>
								<g fill="none" fill-rule="evenodd">
									<path fill="#FFF"
										d="M2.763 0h21.78a2.763 2.763 0 0 1 2.764 2.763v22.474A2.763 2.763 0 0 1 24.543 28H2.763A2.763 2.763 0 0 1 0 25.237V2.763A2.763 2.763 0 0 1 2.763 0zm8.655 21.548h2.857v-6.544h2.068l1.276-2.617h-3.344v-1.203c0-.822.223-1.381 1.372-1.381l1.465-.001V7.264a19.125 19.125 0 0 0-2.135-.112c-2.113 0-3.58 1.17-3.58 3.6v1.635H8.845v2.617h2.552l.02 6.544z" />
								</g>
							</svg>
						</a>
					</li>
					<li>
						<a rel="noopener" href="https://www.linkedin.com/company/studiobravo" target="_blank"
							title="Bravo! LinkedIn">
							<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
								<title>LinkedIn icon</title>
								<g fill="none" fill-rule="evenodd">
									<path fill="#FFF" d="M2.763 0h21.78a2.763 2.763 0 0 1 2.764 2.763v22.474A2.763 2.763 0 0 1 24.543 28H2.763A2.763 2.763 0 0 1
									0 25.237V2.763A2.763 2.763 0 0 1 2.763 0zm7.168 20h.075v-8.642H7.3V20h2.63zm-1.353-9.844c.902 0 1.578-.676 1.578-1.578S9.405
										7 8.578 7C7.676 7 7 7.751 7 8.578c0 .902.751 1.578 1.578 1.578zM20 20v-4.659c0-2.33-.526-4.133-3.231-4.133-1.353 0-2.18.676-2.555
											1.353v-1.203h-2.555V20h2.705v-4.283c0-1.127.15-2.18 1.578-2.18 1.353 0 1.353 1.278 1.353 2.255V20H20z" />
								</g>
							</svg>
						</a>

					</li>
					<li>
						<a rel="noopener" href="https://www.instagram.com/studiobravo.au/" title="Bravo! Instagram"
							target="_blank">

							<svg xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28">
								<title>Instagram icon</title>
								<path fill="#FFF" fill-rule="evenodd" d="M2.763 0h21.474A2.763 2.763 0 0 1 27 2.763v22.474A2.763 2.763 0 0 1 24.237 
									28H2.763A2.763 2.763 0 0 1 0 25.237V2.763A2.763 2.763 0 0 1 2.763 0zm10.7 6.592c2.273 0 2.543.008 3.441.051.97.046 1.87.247 
									2.561.965.692.718.887 1.65.93 2.656.042.931.05 1.211.05 3.57 0 2.358-.008 2.638-.05 3.57-.043 1.005-.238 1.938-.93 
									2.655-.692.718-1.591.92-2.56.965-.899.043-1.169.052-3.443.052s-2.544-.009-3.442-.052c-.97-.045-1.869-.247-2.561-.965-.692-.717
									-.887-1.65-.93-2.656-.042-.931-.05-1.21-.05-3.57 0-2.358.008-2.638.05-3.569.043-1.005.238-1.938.93-2.656.692-.718 1.591-.92 2.561
									-.965.898-.043 1.168-.051 3.442-.051zm0-1.592c-2.314 0-2.605.01-3.513.053-1.384.066-2.6.417-3.576 1.43-.977 1.012-1.316 2.273-1.379
									3.708-.041.943-.051 1.244-.051 3.643s.01 2.7.051 3.642c.063 1.436.402 2.697 1.379 3.709.976 1.012 2.192 1.364 3.576 1.43.908.042 
									1.199.052 3.512.052 2.313 0 2.604-.01 3.512-.053 1.385-.065 2.6-.417 3.577-1.43.976-1.011 1.315-2.272 1.378-3.708.041-.942.051-1.243.051
									-3.642 0-2.4-.01-2.7-.05-3.643-.064-1.435-.403-2.696-1.38-3.708-.975-1.013-2.191-1.364-3.576-1.43C16.066 5.01 15.775 5 13.462 5zm0 4.298c
									-2.417 0-4.375 2.03-4.375 4.536 0 2.505 1.958 4.536 4.374 4.536 2.416 0 4.374-2.031 4.374-4.536 0-2.505-1.958-4.536-4.374-4.536zm0 
									7.48c-1.569 0-2.84-1.318-2.84-2.944s1.271-2.945 2.84-2.945c1.567 0 2.838 1.319 2.838 2.945s-1.27 2.944-2.839 2.944zm4.546-6.6c.565 0 
									1.023-.475 1.023-1.06 0-.585-.458-1.06-1.023-1.06-.564 0-1.022.475-1.022 1.06 0 .585.458 1.06 1.022 1.06z" />

							</svg>

						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>