<footer>
	<div class="footer-grass"></div>
	<div class="container">
		<div class="container-narrow">
			<div class="row">
				<div class="col-xs-6">
					<p class="copyright">
						Copyright © 2011<br />
						Joel Sweetman<br />
						04 1768 2412
					</p>
				</div>

				<div class="col-xs-6 follow-me">
					<div class="text-follow-me">Follow me via</div>
					<div class="emblems">
						<div class="emblem-container">
							<a href="http://vimeo.com/user7527629" target="_blank" rel="nofollow">
								<img src="/img/emblem-vimeo.png">
							</a>
						</div>

						<div class="emblem-container">
							<a href="http://en-gb.facebook.com/big.ole.joel" target="_blank" rel="nofollow">
								<img src="/img/emblem-facebook.png">
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</footer>