<header>
	<div class="container">
		<a href="/illogical" class="logo">
			<title>Illogical Thinker :: Design / Motion</title>
			{{!-- <img style="display: none;" src="img/illogical-thinker-cloud.png" alt="Illogical Thinker :: Design / Motion"
				class="cloud" width="478" /> --}}
			<img src="img/illogical-thinker-cloud.svg" alt="Illogical Thinker :: Design / Motion" class="cloud" width="478" />
			<div class="floating-elephant"></div>
		</a>
	</div>
	</div>
</header>