<header>
	<div class="container">
		<a href="/" class="logo">
			<title>Illogical Thinker :: Design / Motion</title>
			<img src="img/illogical-thinker-cloud.png" alt="Illogical Thinker :: Design / Motion" class="cloud" width="478" />
			<div class="floating-elephant"></div>
		</a>
		<div class="row">
			<div class="col-xs-12">
				<nav>
					<ul>
						<li>
							<a href="/" title="Home">
								<strong>Home</strong>
								<em>Back to the start</em>
							</a>
						</li>
						<li>
							<a href="/work.html" title="Work">
								<strong>Work</strong>
								<em>My Portfolio</em>
							</a>
						</li>
						<li>
							<a href="/contact.html" title="Contact">
								<strong>Contact</strong>
								<em>Have a question?</em>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	</div>
</header>