<header>
	<div class="top-picture"></div>
	<div class="container container-narrow">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<a href="/" title="Bravo! Home" class="logo"><svg width="257" height="112" viewBox="0 0 257 112" xmlns="http://www.w3.org/2000/svg">
						<title>Bravo! logo</title>
					</svg></a>
				<nav>
					<ul>
						<li><a href="" title="See all the Bravo work" class="work-link">Work</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
