<header>
	<div class="container container-narrow">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<a href="/" title="Bravo! Home" class="logo"><svg width="257" height="112" viewBox="0 0 257 112" xmlns="http://www.w3.org/2000/svg">
						<title>Bravo! logo</title>
						<g fill-rule="nonzero" fill="none">
							<g fill="#00bf8c">
								<path d="M210.554 19.327c-13.68 0-24.77 11.076-24.77 24.74 0 13.662 11.09 24.738 24.77 24.738s24.771-11.076 24.771-24.739c0-6.56-2.61-12.853-7.255-17.493a24.787 24.787 0 0 0-17.516-7.246zm0 37.109c-6.84 0-12.385-5.538-12.385-12.37 0-6.831 5.545-12.37 12.385-12.37s12.386 5.539 12.386 12.37c0 3.28-1.305 6.427-3.628 8.747a12.394 12.394 0 0 1-8.758 3.623zM119.598 24.035c-2.907-2.96-6.967-4.708-12.386-4.708-13.68 0-24.77 11.076-24.77 24.74 0 13.662 11.09 24.738 24.77 24.738 5.419 0 9.48-1.75 12.386-4.716v3.943h12.385V20.1h-12.385v3.935zm-12.386 32.4c-6.84 0-12.385-5.537-12.385-12.369 0-6.831 5.545-12.37 12.385-12.37s12.386 5.539 12.386 12.37c0 3.28-1.305 6.427-3.628 8.747a12.394 12.394 0 0 1-8.758 3.623zM37.93 30.042a19.117 19.117 0 0 0 1.23-19.78A19.166 19.166 0 0 0 22.182 0H0v68.032h25.727c9.116-.001 17.188-5.882 19.973-14.55a20.936 20.936 0 0 0-7.77-23.44zM12.387 12.37h9.796a6.776 6.776 0 0 1 6.457 6.765 6.776 6.776 0 0 1-6.457 6.765h-9.796v-13.53zm13.341 43.294H12.386V38.496h13.341a8.599 8.599 0 0 1 7.597 4.238 8.576 8.576 0 0 1 0 8.69 8.599 8.599 0 0 1-7.597 4.239z" />
								<ellipse cx="247.711" cy="59.52" rx="9.289" ry="9.277" />
								<path d="M241.518 0h12.386v44.059h-12.386zM173.01 20.093l-10.45 20.873-10.45-20.873H136.65l25.91 48.704 25.908-48.704zM65.798 24.113V20.1H53.413v47.932h12.385V44.066c0-3.545 1.525-6.92 4.186-9.267a12.396 12.396 0 0 1 9.725-3.006l3.015-12.048c-6.514-1.473-12.281.549-16.926 4.368z" />
							</g>
							<path d="M44.123 111.79V89.72H0v-9.258h53.413V90.72a57.133 57.133 0 0 1 32.446-10.256h168.045v9.258H86.103a47.92 47.92 0 0 0-34.022 14.171l-7.958 7.897z"
							 fill="#00BF8C" />
						</g>
					</svg></a>
				<nav>
					<ul>
						<li><a href="" title="See all the Bravo work" class="work-link">Work</a></li>
						<li><a href="/services.html" {{#if services}} class="active" {{/if}} title="Bravo services">Services</a></li>
						<li><a href="/our-team.html" {{#if our-team}} class="active" {{/if}} title="See Our team page">Team</a></li>
						<li><a href="/blog.html" {{#if blog}} class="active" {{/if}} title="See Our blog">Blog</a></li>
						<li><a href="/contact.html" {{#if contact}} class="active" {{/if}} title="Contact us">Contact<span class="hidden-xs">
									Us</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
