<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <nav>
        <ul>
          <li>
            <a href="/illogical" title="Home">
              <strong>Home</strong>
              <em>Back to the start</em>
            </a>
          </li>
          <li>
            <a href="/illogical/work.html" title="Work">
              <strong>Work</strong>
              <em>My Portfolio</em>
            </a>
          </li>
          <li>
            <a href="/illogical/contact.html" title="Contact">
              <strong>Contact</strong>
              <em>Have a question?</em>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>