---
title:
bodyClass: page-contact
---

<main class="main">
	<div class="feature-box row">
		<div class="contact-description">
			<p class="text-large">Hey Guys!</p>

			<p><strong>Any project related material, questions, or general enquiries?</strong></p>
			<p>
				It's possible to contact me via phone, mobile or email. Please allow 24-48 hours to get back to you if a
				response is needed.
			</p>
			<p>Feel like simply chatting? That's fine too. Go for it!</p>
		</div>

		<div class="feature-info">
			<div class="feature-descriptions">
				<span class="section-title hidden-xs">Contact</span>
				<div class="contact-details">
					<p class="text-large">
						Home: 9272 2793<br />
						Mobile: 04 1768 2412<br />
						Email: joelsweetman174@msn.com/
					</p>
				</div>
			</div>
		</div>
	</div>
</main>