---
title:
bodyClass: page-home
---

<main class="main">
	<div class="feature-box row">
		<div class="feature-scroller">
			<div id="homepage-swiper" class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="img/slider/feature-flex-vs-use.jpg" alt="Flexibility vs. Usability Trade-off" />
					</div>
					<div class="swiper-slide">
						<img src="img/slider/feature-lightbulb.jpg" alt="How it Works: The Incandescent Lightbulb" />
					</div>
					<div class="swiper-slide">
						<img src="img/slider/feature-bammd.jpg" alt="BAMMD Expo Teaser" />
					</div>
					<div class="swiper-slide">
						<img src="img/slider/feature-transperth.jpg" alt="Transperth Widget Presentation" />
					</div>
					<div class="swiper-slide">
						<img src="img/slider/feature-nuke.jpg" alt="Dismantling the Atomic Bomb" />
					</div>
				</div>

				<!-- If we need pagination -->
				{{!-- <div class="swiper-pagination"></div> --}}
			</div>
		</div>

		<div class="feature-info">
			<div class="swiper-navigation">
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				<span class="section-title">Recent Work</span>
			</div>
			<div class="feature-descriptions">
				<div class="feature-description">
					<h3>The Flexibility vs. Usability Tradeoff</h3>
					<p><strong>Part of a series of Design Principles.</strong></p>
					<p>Outlines the importance of deciding whether a product should be simple to understand, but limited in scope
						of use, or complex, but highly adaptable.</p>
				</div>
				<div class="feature-description">
					<h3>How it Works: The Incandescent Lightbulb</h3>
					<p><strong>Motion Graphic explanatory video.</strong></p>
					<p>Animated presentation explaining the inner workings of the common incandescent bulb, and the manner of
						which they're designed.</p>
				</div>
				<div class="feature-description">
					<h3>BAMMD Expo Teaser</h3>
					<p><strong>Teaser for Curtin Graduate Design Expo</strong></p>
					<p>Video promoting design expo held in Perth on November 18th, 2011. Worked with designers Tom Leenders, Kylie
						Slee, Corey Ginnivan, and Cyrus Eftos for additional posters, promotion, and merchandise.</p>
				</div>
				<div class="feature-description">
					<h3>Transperth Widget Presentation</h3>
					<p><strong>Short animation advertising a widget design</strong></p>
					<p>Plans for Android Mobile widget to be developed for local public transportation company, Transperth. Allows
						users to plot journeys, check times, calculate distances, and save travels plans for later reference.</p>
				</div>
				<div class="feature-description">
					<h3>Dismantling the Atomic Bomb</h3>
					<p><strong>30 second animation assignment</strong></p>
					<p>Challenge to lightly explain the workings of the atomic bomb 'Fat Man', in the space of only 30 seconds.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="content-box">
		<blockquote>
			"The ultimate solutions to problems are rational; the process of finding them is not."<br><em>W. H. H. Gordon</em>
		</blockquote>
		<p>This one's name is Joel Sweetman. He's been interested in new media since High School in 2004, when he was first
			introduced to Flash and HTML. After graduating, he went on to study Diploma and Bachlor of Multimedia at eCentral
			Tafe and Curtin University in Perth, Western Australia.</p>
		<p>
			He does <strong>Motion Graphics</strong>, <strong>Graphic Design</strong> and <strong>Game Design Actionscript
				Coding</strong> on the side. It's been said that his
			approach to projects can be highly unorthodox, taking as many ideas as possible twisting them into abstract
			concepts, leading to the name <em>Illogical Thinker</em>.
		</p>
	</div>
</main>