---
title:
bodyClass: page-home
---

<main class="main">
	<div class="feature-box">
		<div class="feature-scroller">
			<div id="slider">
				feature scroller
			</div>
		</div>

		<div class="feature-info">
			feature info
		</div>
	</div>

	<div class="content-box">
		<blockquote>
			"The ultimate solutions to problems are rational; the process of finding them is not."<br><em>W. H. H. Gordon</em>
		</blockquote>
		<p>This one's name is Joel Sweetman. He's been interested in new media since High School in 2004, when he was first
			introduced to Flash and HTML. After graduating, he went on to study Diploma and Bachlor of Multimedia at eCentral
			Tafe and Curtin University in Perth, Western Australia.</p>
		<p>
			He does <strong>Motion Graphics</strong>, <strong>Graphic Design</strong> and <strong>Game Design Actionscript
				Coding</strong> on the side. It's been said that his
			approach to projects can be highly unorthodox, taking as many ideas as possible twisting them into abstract
			concepts, leading to the name <em>Illogical Thinker</em>.
		</p>
	</div>
</main>