---
title:
bodyClass: page-work
---

<main class="main">
	<div class="feature-box">
		Motion Graphics
		<div class="row">
			<div class="col-sm-4">
				<div class="mosaic-block fade">
					<a href="http://player.vimeo.com/video/31353179?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1"
						rel="shadowbox height=405; width=720" class="mosaic-overlay">
						<div class="details">
							<p class="icon_title">BAMMD Teaser</p>
							<p class="icon_text">Teaser for Multimedia Design Expo held November 18th.</p>
						</div>
					</a>
					<div class="mosaic-backdrop">
						<img src="images/motion_bammd.jpg" />
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				bulb
			</div>
			<div class="col-sm-4">
				flex
			</div>
			<div class="col-sm-4">
				Transperth
			</div>
			<div class="col-sm-4">
				Atomic
			</div>
			<div class="col-sm-4">
				Perplex
			</div>
			<div class="col-sm-4">
				Satan
			</div>
		</div>
	</div>
</main>