.swiper-slide {
	cursor: grab;
}

.swiper-wrapper {
	overflow: hidden;
}

.feature-info {
	.swiper-navigation {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		margin-bottom: 15px;

		.section-title {
			flex-grow: 1;
			text-align: right;
			margin-right: 10px;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		position: static;
		width: 31px;
		height: 30px;
		margin-top: initial;
		opacity: 0.8;
		margin-left: -2px;
		transition: opacity $short-trans ease;

		&::after {
			content: none;
		}

		&:focus {
			outline: 0;
		}

		&:hover {
			opacity: 1;
		}
	}

	.swiper-button-next {
		background: url(../img/arrow-right.png) top left no-repeat;

		&:active {
			background-image: url(../img/arrow-right-hover.png);
		}
	}

	.swiper-button-prev {
		background: url(../img/arrow-left.png) top left no-repeat;

		&:active {
			background-image: url(../img/arrow-left-hover.png);
		}
	}
}
