.swiper-slide {
	cursor: grab;
}

.feature-info {
	.swiper-navigation {
		display: flex;
		flex-flow: row nowrap;
	}

	.swiper-button-next,
	.swiper-button-prev {
		position: static;
		width: 31px;
		height: 23px;
		margin-top: initial;
		opacity: 0.8;
		transition: opacity $short-trans ease;

		&::after {
			content: none;
		}

		&:focus {
			outline: 0;
		}

		&:hover {
			opacity: 1;
		}
	}

	.swiper-button-next {
		background: url(../img/arrow-right.png) top left no-repeat;

		&:focus,
		&:active {
			background-image: url(../img/arrow-right-hover.png);
		}
	}

	.swiper-button-prev {
		background: url(../img/arrow-left.png) top left no-repeat;

		&:focus,
		&:active {
			background-image: url(../img/arrow-left-hover.png);
		}
	}

	.feature-descriptions {
		position: relative;
		width: 100%;
		height: 100%;

		.feature-description {
			position: absolute;
			top: 0;
			left: 0;
			display: none;
		}
	}
}
